html,
body {
    height: 100%;
}


#butterfly {
    height: 200px;
    width: auto;
    position: absolute;
}

#wateringcan {
    width: 200px;
    position: absolute;
    bottom: 20%;
    left: 40%;
    z-index:1;
}


.waterdrop {
    position: absolute;
    width: 20px;
    bottom: 33%;
    left:   41%;

}

#net {
    height: 600px;
    width: auto;
    position: absolute;
z-index: 5;
}

.apple {
    height: 50px;
    width: auto;
    position: absolute;
    z-index:2;
    top: 200px;
}

#apple1 {
    position: absolute;
left:79%;
}
#apple2 {
    position: absolute;
    left:75%;
}
#apple3 {
    position: absolute;
    left:71%;
}

#tree {
    position: fixed;
    bottom: 20px;
    left: 50%;

}

.basket {
    width: 200px;
    position: fixed;
    bottom: 20px;
    left: 20%;
z-index: 1;
}

#basketfront {
    z-index:3;
}


body {
    margin: 0px;
    background-image: url("../images/grass.png");
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-position: bottom;
    overflow: hidden;
}
